<?xml version="1.0"?>
<?xml-stylesheet href="chrome://global/skin/" type"text/css" ?>
<!DOCTYPE page SYSTEM "chrome://[:= $_.package :]/locale/overlay.dtd">

<page id="[:= $_.package :]Sidebar" title="&[:= $_.package :]Sidebar.label;"
         xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul">
  <script src="ff-sidebar.js"/>

  <vbox flex="1">
    <label value="&[:= $_.package :]Sidebar.label;" />
  </vbox>
</page>
