<!ENTITY [:= $_.package :].label "Your localized menuitem">
<!ENTITY [:= $_.package :]Context.label "Your Menuitem">
<!ENTITY [:= $_.package :]Context.accesskey "Y">
<!ENTITY [:= $_.package :]Toolbar.label "Your Toolbar Button">
<!ENTITY [:= $_.package :]Toolbar.tooltip "This is your toolbar button!">
<!ENTITY [:= $_.package :]Sidebar.label "Your Sidebar">
