<?xml version="1.0"?>

<?xml-stylesheet href="chrome://[:= $_.package :]/skin/about.css" type="text/css"?>

<!DOCTYPE window SYSTEM "chrome://[:= $_.package :]/locale/about.dtd">

<dialog id="about" xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul" title="&about.title;" buttons="accept" width="300" height="200">
    
  <script type="application/x-javascript" src="chrome://[:= $_.package :]/content/about.js"/>

  <vbox flex="1" align="center">
    <label id="version"/>
    <textbox id="useragent" multiline="true" readonly="true" flex="1"/>
  </vbox>
</dialog>

