<!ENTITY options.title       "Options">

<!ENTITY paneGeneral.label   "General">
<!ENTITY section1.label      "Section 1">
<!ENTITY thing1.label        "Thing 1 string preference:">
<!ENTITY thing1.accesskey    "1">
<!ENTITY section2.label      "Section 2">
<!ENTITY thing2.label        "Thing 2 boolean preference">
<!ENTITY thing2.accesskey    "2">
