/* global skin ------------------------------------------------------------- */
@import url(chrome://global/skin/);

radio[pane="pane_general"] {
  list-style-image: url(chrome://[:= $_.package :]/skin/images/options-big.png);
}
